<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.glwheel" android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" />
    <application android:label="example" android:hasCode="false">
        <activity android:name="android.app.example" android:label="example" android:configChanges="orientation|keyboardHidden">
            <meta-data android:name="android.app.lib_name" android:value="example" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> </intent-filter> </activity> </application> </manifest> 
